body {
  background: url(cinema.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  margin: 120px auto;
  margin-top: 200px;
  max-width: 600px;
  background-color: black;
  padding: 30px 70px 30px 70px;
  border-radius: 10px;
}
header {
  margin-bottom: 30px;
}
a {
  color: #ff0191;
  background-color: black;
  padding: 2px;
  border-radius: 6px;
  font-size: 12px;
}
h1 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 45px;
  line-height: 1.5;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  animation: pulsate 1.5s infinite alternate;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #f10943,
    0 0 0.8rem #f10943, 0 0 2.8rem #f10943, inset 0 0 1.3rem #f10943;
}

@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f10943,
      0 0 80px #f10943, 0 0 90px #f10943, 0 0 100px #f10943, 0 0 150px #f10943;
  }
}

0% {
  text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #bc13fe,
    0 0 45px #bc13fe, 0 0 55px #bc13fe, 0 0 70px #bc13fe, 0 0 80px #bc13fe;
}

.form-wrapper {
  padding: 40px;
  background-color: white;
  border-radius: 9px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  margin-bottom: 30px;
  border: 3px solid #ff6cb8;
  border-radius: 9px;
}
form {
  display: flex;
}
.hint {
  color: #f10943;
  line-height: 1.5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  margin-top: 20px;
  margin-left: 10px;
  opacity: 0.6;
}
.instructions {
  font-size: 16px;
  border: 2px solid rgba(220, 220, 222, 0.5);
  border-radius: 15px;
  line-height: 20px;
  padding: 10px 20px 10px 20px;
  width: 80%;
  color: black;
  border: 2px solid #f10943;
  border-radius: 9px;
}
.instructions:hover {
  border: 2px solid #f10943;
}
.submit-button {
  margin-left: 10px;
  background-color: #f10943;
  color: white;
  border: 1px solid rgba(220, 220, 222, 0.5);
  font-size: 18px;
  font-weight: 600;
  border-radius: 15px;
  line-height: 20px;
  padding: 10px 20px 10px 20px;
}
.submit-button:hover {
  cursor: pointer;
  background-color: #ff6cb8;
}
.quotes {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  background-color: white;
  padding: 20px;
  line-height: 24px;
  border: 3px solid #f10943;
  border-radius: 9px;
}
.quotes strong {
  color: #f10943;
  font-size: 17px;
  font-style: normal;
}
.hidden {
  display: none;
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
footer {
  color: white;
  text-align: center;
  font-size: 12px;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  border-radius: 6px;
}
